<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762770669911-la7bp71fp05hjtit77901am2tvug39d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762770669911-la7bp71fp05hjtit77901am2tvug39d6</string>
	<key>API_KEY</key>
	<string>AIzaSyCAOmER18f4zmf8FbKdFcTGUFNb-4EE1CY</string>
	<key>GCM_SENDER_ID</key>
	<string>762770669911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.liga.mobileid.oss</string>
	<key>PROJECT_ID</key>
	<string>liga-mobileid-oss</string>
	<key>STORAGE_BUCKET</key>
	<string>liga-mobileid-oss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762770669911:ios:b258a9fc5d9df4d3bf7e12</string>
</dict>
</plist>